@font-face {
  font-family: 'Lato', sans-serif;
  src:url(https://fonts.googleapis.com/css?family=Lato);
}
/* accueil.php */
.accueil{
  background-image: url('fond.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.stockpage{
  text-align: center;
}

/* header.php */
body{
  position: static;
  margin:0px;
}
.headerdomaines{
  font-size: 14px;
  background-color: #333333;
  color: #FFFFFF;
  grid-column-start: 4;
  padding-top: 10px;
}
.headercontainer{
  background-color: #333333;
  background-size: contain;
  font-family: 'Lato';
  color: #FFFFFF;
  height: 100px;
  display: grid;
  grid-template-columns: 5% 5% 80% 10%;
  grid-template-rows: 25% 25% 25% 25%;
}
.headerlogo{
  grid-column-start: 1;
  padding-top: 10px;
}
.headerprenom{
  color:#FFFFFF;
  font-size: 20px;
  font-weight: 700;
  grid-column-start: 2;
  grid-row-start: 1;
  padding-top: 20px;
}
.headernom{
  color:#FFFFFF;
  font-size: 20px;
  font-weight: 700;
  grid-column-start: 2;
  grid-row-start: 2;
  padding-top: 30px;
  padding-left: 15px;
}
.headermenu{
  grid-column-start: 3;
  grid-row-start: 2;
  text-align: center;
  word-spacing: 100%;
}
.headerlinks{
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 11px;
  padding:6px 18px 6px 18px;
  background-color: #4d4d4d;
}
.headergsm{
  grid-column-start: 4;
  grid-row-start: 3;
}
a:link{
  text-decoration: none;
}

/*vard.php*/
.cardcontainer{
  padding: 40px 30px 40px 30px;
  border: 2px solid;
  border-radius: 10px;
  width: 380px;
  height: 250px;
  background-color: #FFFFFF;
}
.cardtop{
  display:grid;
  grid-template-columns: 30% 70%;
  height: 120px;
  font-size: 32px;
  font-weight: bold;
}
.cardlogo2{
  border:1px solid black;
  grid-column-start: 1;
}
.cardprenom{
  grid-column-start: 2;
  margin-left: 20px;
  margin-top: 20px;
}
.cardnom{
  grid-column-start: 2;
  margin-left: 45px;
  margin-top: -50px;
}
.cardbottom{
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
.cardlinks{
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  color: #212121;
  font-size: 11px;
  padding:12px 6px 12px 6px;
  background-color: #000000;
  color:#FFFF;
}
.cardmenu{
  margin-top:50px;
}
